@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
        --backgroundcolor: #DEF4CF;
        --lightgreen: #CAF584;
        --markgreen: #ADF53B;
        --yellowgreen: #8AC230;
        --middlegreen: #77A828;
        --darkgreen:#53751C;

        --font-standard: Arial, Verdana, Helvetica, sans-serif;
        --font-highlights:'Bebas Neue', sans-serif, 'Cookie', 'cursive';
        --font-android: 'Android', 'cursive'; 
}

*{
        margin: 0px;
        padding: 0px;
}

body{
    background-color: var(--backgroundcolor);
    font-family: var(--font-standard);
}

a.externo::after{
    content: '\1F517\00A0';
}

header{
    background-image: linear-gradient(to bottom, var(--markgreen), var(--darkgreen));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color:white;
    font-family: var(--font-highlights);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.548);
}

header > p{
    font-family: var(--font-standard);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.548);
}

nav{
    background-color: var(--darkgreen);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);
    font-weight: bold;
}
nav > a:hover{
    color: var(--darkgreen);
    background-color: var(--backgroundcolor);
}

nav > a{
    color: var(--lightgreen);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color:white;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    font-size: 1em;
}

main strong{
    color: var(--middlegreen);
    font-weight: bold;
    padding: 2px 6px;
}

main a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--darkgreen);
    background-color: var(--markgreen);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--yellowgreen);
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--darkgreen);
    margin-top: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1{
    font-family: var(--font-android);
    color: var(--markgreen);
    background-image: linear-gradient(to left, var(--lightgreen), var(--darkgreen));
    font-weight: normal;
    font-size: 2em;
    text-indent: 3em;
}

main h2{
    font-family: var(--font-android);
    color: var(--darkgreen);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right,var(--lightgreen), transparent);
    text-indent: 10px;
}

aside{
    background-color: var(--lightgreen);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.459);
}

aside > h3{
    background-color: var(--middlegreen);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px; /* - para a margem crescer */
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; 
    /*00A0 eh o espaco criado entre o check e o numero */
    list-style-position: inside;
    columns: 2;
}

aside > ul > li > abbr:hover{
    color: var(--lightgreen);
    background-color: var(--darkgreen);
    margin: 5px;
    border-radius: 3px;
    transition-duration: 0.1s;
    font-family: var(--font-android);
    font-size: 1.3em;
}

footer{
    background-color: var(--darkgreen);
    color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 5px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
    color: var(--lightgreen);
}